/* bigshot one font */
@import url(https://fonts.googleapis.com/css?family=Krona+One);

body {
  height: 100vh;
  width: 100vw;
  background-color:black;
    font-family: "Monument extended", "Krona One", sans-serif;
  font-size: 50px;
  font-weight:bolder
}
.container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2)
}
#texts {
    color:white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.text {
  overflow: hidden;
  margin: 2px auto;
}
.text:nth-child(4) {
  margin: -18px auto;
  height: 80px; 
  line-height: 80px
}
.text span {
  position: relative;
  overflow:hidden;
}
